	<div id="container">
		<div class="group">
			<div class="subdiv">
				<div class="large_box">
					<div class="large_box_button_cover menuA_cover"><a href="?page=keys_list"></a></div>
					<div class="box_button menuA_box"><span>Liste de clés</span></div>
				</div>
				<!--
				<div class="box">
					<div class="box_button_cover menuA_cover"><a href="?page=keys_list"></a></div>
					<div class="box_button menuA_box"><span>Liste de clés</span></div>
				</div>
				<div class="box">
					<div class="box_button_cover menuB_cover"><a href="?page=access_history"></a></div>
					<div class="box_button menuB_box"><span>Historique d'accès</span></div>
				</div> -->
			</div>
			<div class="subdiv">
				<div class="box">
					<div class="box_button_cover menuC_cover"><a href="?page=ressources_manager"></a></div>
					<div class="box_button menuC_box"><span>Gestion ressources</span></div>
				</div>
				<div class="box">
					<div class="box_button_cover menuD_cover"><a href="?page=import_export"></a></div>
					<div class="box_button menuD_box"><span>Import/Export<br/>(CSV&#8652;BDD)</span></div>
				</div>
			</div>
		</div>
	</div>
